$leather: #422A0F;

body{
  background: $leather;
}
.container{
  background-image: url(../img/blackjack-background.jpg);
  min-height: 750px;
}

h1{
  text-align: center;
  margin: 100px auto 20px;
  background: black;
  color: white;
  border: gold 5px dashed;
  border-radius: 5px;
}

.community-cards{
  min-height: 173px;
  margin-left: 210px;
  img{
  max-height: 173px;
  min-width: 124px;
  margin: 20px 5px;
  padding: 3px;
  border: white solid 2px;
  border-radius: 5px;
  }
}

.players{
  color: white;
  font-size: 2em;
}

.hole-cards, .opponent{
  img{
  float: left;
  margin: 20px -30px;
  max-height: 173px;
  min-width: 124px;
  border-radius: 5px;
  }
}


.bet-space {
  h4 {
    display: inline;
    text-align: center;
    color: white;
    opacity: 0.5;
    margin: 10px;
  }
  #first {
    margin-left: 200px;
  }
}

form{
  display: inline-block;
}



