extends ./_partials/_layout

block content
  .container
    .col-md-4.col-md-offset-4
      h1 TEXAS HOLD'EM
      button.new-game.btn.btn-block New Game
      button.deal.btn.btn-block(disabled="disabled") Deal
    .col-md-10.col-md-offset-1.community-cards
    .col-md-8.col-md-offset-2.hole-cards
    .row
      .col-md-4
        button.fold.btn.btn-md Fold
      .col-md-8.bet-space
        h4 CASH MONEY
        h4.cash-space
        h4 CURRENT BET
        h4.current-bet-space
        input.bet-input(type="text" placeholder="$ Bet Ammount")
        button.check.btn.btn-md Check
        button.bet.btn.btn-md Bet
        button.call.btn.btn-md Call
        button.raise.btn.btn-md Raise
