extends ./_partials/_layout

block content
  .container
    .col-md-4.col-md-offset-4
      h1 TEXAS HOLD'EM
      button.new-game.btn.btn-block New Game
      button.deal.btn.btn-block(disabled="disabled") Deal
    .col-md-10.col-md-offset-1.community-cards
    .row.players
      .col-md-4.col-md-offset-2.hole-cards
        p PLAYER
      .col-md-4.pull-right.opponent
        p OPPONENT
    .row
      .col-md-12.bet-space
        button.fold.btn.btn-md Fold
        h4#first CASH MONEY
        h4.cash-space
        h4 CURRENT BET
        h4.current-bet-space
        form
          input.bet-input(type="text" placeholder="$ Bet Ammount")
          button.bet.btn.btn-md(type="submit") Bet
        button.check.btn.btn-md Check
        button.call.btn.btn-md Call
        button.raise.btn.btn-md Raise
